<div class="modal fade" id="updateUserGameModal<%= userGame.id %>" tabindex="-1" aria-labelledby="updateUserGameModalLabel<%= userGame.id %>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserGameModalLabel<%= userGame.id %>">Update <%= userGame.username %></h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/view/user_game/<%= userGame.id %>?_method=PATCH" method="POST">
                <div class="modal-body d-flex flex-column" style="gap:1rem;">
                    <div class="input-group" title="Username">
                        <span class="input-group-text" id="basic-addon-username-update-<%= userGame.id %>">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" minlength="3" placeholder="Username" aria-label="Username" aria-describedby="basic-addon-username-update-<%= userGame.id %>" name="username" id="username-update-<%= userGame.id %>" data-oldvalue="<%= userGame.username %>" value="<%= userGame.username %>" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-outline-secondary" id="updateUserGameModalResetButton<%= userGame.id %>">Reset</a>
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
